<main class="container pt-10">
  <div class="grid grid-cols-2 items-center gap-32">
    <ng-template #loading>Loading...</ng-template>
    <div
      *ngIf="courseDetailsResopnse; else loading"
      class="flex justify-between items-start flex-col gap-10"
    >
      <h1 class="font-display text-header mb-6">
        {{ courseDetailsResopnse.title }}
      </h1>
      <p class="font-regular text-normal">
        {{ courseDetailsResopnse.description }}
      </p>
      <p class="font-regular text-normal">
        course stages : {{ courseDetailsResopnse.stages }}
      </p>
      <p class="font-regular text-normal">
        requirements before taking the course :
        {{ courseDetailsResopnse.requirements }}
      </p>
      <p class="font-regular text-normal">
        made by : {{ courseDetailsResopnse.instructorName }}
      </p>
      <p class="font-regular text-normal">
        instructor Email : {{ courseDetailsResopnse.instructorEmail }}
      </p>
    </div>
    <figure class="flex justify-center items-center w-[80%] h-[80%]">
      <img
        title="{{ courseDetailsResopnse.title }}"
        [src]="courseDetailsResopnse.image.imageURL"
        class="object-contain rounded-2xl w-full"
        [alt]="courseDetailsResopnse.image.name"
        loading="lazy"
      />
    </figure>
  </div>
  <section
    *ngIf="courseDetailsResopnse"
    class="py-10 grid grid-cols-1 items-start gap-20"
  >
    <div class="flex flex-col justify-between gap-4">
      <h3 class="font-display text-secondary-header">learner reviews</h3>
      <p class="py-10">
        <i class="fa-solid fa-star text-yellow-400"></i>
        <span class="text-secondary-header font-semibold px-10">
          {{ courseDetailsResopnse.ratingStats.averageRating.toFixed(1) }}
        </span>
        <span class="text-sm opacity-80 font-regular">{{
          courseDetailsResopnse.ratingStats.totalCount
        }}</span>
      </p>
      <div class="grid grid-rows-5 gap-5">
        <div
          *ngFor="let i of [5, 4, 3, 2, 1]"
          class="flex justify-between items-center gap-5"
        >
          <p class="font-display w-[50px]">{{ i }} stars</p>
          <div
            class="w-full h-[7px] border rounded relative flex overflow-hidden"
          >
            <span
              class="h-[7px] rounded enginitic-main-color -z-10"
              [style.width]="
                this.courseDetailsResopnse.ratingStats.breakdown[i].percentage +
                '%'
              "
            ></span>
          </div>
          <span class="text-sm font-regular">
            {{ this.courseDetailsResopnse.ratingStats.breakdown[i].count }}
          </span>
        </div>
      </div>
    </div>
    <div class="w-full flex justify-between flex-col gap-20">
      <p class="opacity-60 font-regular">
        showing {{ reviews.currentlyViewing }}
      </p>
      <owl-carousel-o [options]="customOptions" class="w-full my-carousel">
        <ng-template
          *ngFor="let review of reviews.paginatedList"
          class="flex flex-col justify-between gap-20 w-full"
          carouselSlide
        >
          <div class="border rounded-xl p-10 flex justify-start gap-10">
            <figure>
              <img
                class="object-cover aspect-square rounded-full w-[100px] h-[100px]"
                [src]="review.imageMetadata.imageURL"
                [alt]="review.imageMetadata.name"
              />
            </figure>
            <div class="font-regular">
              <p>
                <i class="fa-solid fa-star text-yellow-400 text-sm"></i> .
                {{ review.updatedAt | TimePipe }}
              </p>
              <p>
                {{ review.content }}
              </p>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
      <div class="flex justify-between items-center">
        <button
          [disabled]="reviews.pageIndex <= 1"
          class="engenitic-button"
          (click)="handleReviewsIndex(reviews.pageIndex - 1)"
        >
          previous
        </button>
        <button
          [disabled]="reviews.pageIndex >= reviews.totalPages"
          class="engenitic-button"
          (click)="handleReviewsIndex(reviews.pageIndex + 1)"
        >
          next
        </button>
      </div>
    </div>
  </section>
  <section>
    <h2 class="font-display text-[42px]">some recommended courses :</h2>
    <div
      class="py-10 grid md:grid-cols-2 xl:grid-cols-4 gap-10"
      *ngIf="randomCourses; else loading"
    >
      <div
        class="image-zoom shadow-container rounded-xl overflow-hidden border flex justify-between flex-col items-start"
        *ngFor="let course of randomCourses"
      >
        <figure class="w-full" title="courseImage">
          <img
            [src]="course.image.imageURL"
            [alt]="course.image.name"
            class="w-full h-[200px] object-cover"
          />
        </figure>
        <article class="p-4">
          <h3 class="font-display py-3 text-[24px] font-bold tracking-wider">
            {{ course.title }}
          </h3>
          <p class="font-regular text-sm">
            {{ course.description }}
          </p>
          <a
            [routerLink]="['/course-details', course.id]"
            class="py-3 text-[#58B6B8] block"
            >Read more <i class="fa-solid fa-arrow-right-long opacity-0"></i
          ></a>
        </article>
      </div>
    </div>
  </section>
  <button
    (click)="handleSubmit()"
    type="button"
    class="engenitic-button w-full relative group inline-block hover:enginitic-main-color"
  >
    <ng-template #continue>
      <span
        class="transition-opacity duration-500 opacity-100 group-hover:opacity-0"
      >
        continue
      </span>
    </ng-template>
    <span
      *ngIf="!isEnrolled; else continue"
      class="transition-opacity duration-500 opacity-100 group-hover:opacity-0"
    >
      enroll
    </span>
    <span
      class="absolute inset-0 top-2 transition-opacity duration-500 opacity-0 group-hover:opacity-100 text-yellow-300"
    >
      <i class="fa-solid fa-lightbulb"></i>
    </span>
  </button>
</main>
