<main class="flex justify-center items-center">
    <div class="grid grid-cols-2 items-center gap-32">
        <div class="grid grid-rows-6 gap-5">
            <h1 class="font-display text-header mb-6">Course Title </h1>
            <p class="font-regular text-normal">course details :</p>
            <p class="font-regular text-normal">videos number : </p>
            <p class="font-regular text-normal">requirements before taking the course :</p>
            <p class="font-regular text-normal">instructor name :</p>
            <form [formGroup]="enrollForm" (ngSubmit)="handleSubmit()">
                <button class="engenitic-button w-full">enroll</button>
            </form>
        </div>
        <figure class=" w-[80%] h-[80%]">
            <img src="./assets/images/course-1.jpeg" class="object-contain rounded-2xl" alt="course picture">
        </figure>
    </div>
</main>