::ng-deep .my-carousel .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50%;
  margin: 0 4px;
  transition: background 0.3s;
}

::ng-deep .my-carousel .owl-dots .owl-dot.active span {
  background: #58b6b8; /* active dot color */
}

::ng-deep .my-carousel .owl-dots {
  margin-top: 3rem !important;
  display: flex !important;
  justify-content: center !important;
}

::ng-deep .my-carousel .owl-dots .owl-dot {
  display: inline-block !important;
  margin: 0 4px;
}

.image-zoom {
  & > figure > img {
    transition-property: transform;
    transition-duration: 400ms;
    transition-timing-function: ease-in-out;
  }
  & > article > a > i {
    transition: transform 400ms ease-in, opacity 400ms ease-in-out;
  }
  &:hover {
    & > figure > img {
      transform: scale(1.2);
    }

    & > article > a > i {
      transform: translate(10px);
      opacity: 100;
    }
  }
}
