<main class="py-10">
    <div class="flex justify-between items-center flex-wrap gap-16">
        <div class="grid grid-cols-2 gap-10 items-center">
            <div class="grid grid-rows-3 gap-10">
                <h3 class="font-display text-secondary-header">
                    this  is  a random course title 
                </h3>
                <p class="text-normal font-regular">
                    this is some of the course details ....
                </p>
                <a routerLink="" class="engenitic-button text-center">
                    view details
                </a>
            </div>
            <figure >
                <img src="./assets/images/course-1.jpeg" alt="" class="w-[250px] h-[250px] mx-auto object-contain">
            </figure>
        </div>
        <div class="grid grid-cols-2 gap-10 items-center">
            <div class="grid grid-rows-3 gap-10">
                <h3 class="font-display text-secondary-header">
                    this  is  a random course title 
                </h3>
                <p class="text-normal font-regular">
                    this is some of the course details ....
                </p>
                <a routerLink="" class="engenitic-button text-center">
                    view details
                </a>
            </div>
            <figure >
                <img src="./assets/images/course-1.jpeg" alt="" class="w-[250px] h-[250px] mx-auto object-contain">
            </figure>
        </div>
        <div class="grid grid-cols-2 gap-10 items-center">
            <div class="grid grid-rows-3 gap-10">
                <h3 class="font-display text-secondary-header">
                    this  is  a random course title 
                </h3>
                <p class="text-normal font-regular">
                    this is some of the course details ....
                </p>
                <a routerLink="" class="engenitic-button text-center">
                    view details
                </a>
            </div>
            <figure >
                <img src="./assets/images/course-1.jpeg" alt="" class="w-[250px] h-[250px] mx-auto object-contain">
            </figure>
        </div>
        <div class="grid grid-cols-2 gap-10 items-center">
            <div class="grid grid-rows-3 gap-10">
                <h3 class="font-display text-secondary-header">
                    this  is  a random course title 
                </h3>
                <p class="text-normal font-regular">
                    this is some of the course details ....
                </p>
                <a routerLink="" class="engenitic-button text-center">
                    view details
                </a>
            </div>
            <figure >
                <img src="./assets/images/course-1.jpeg" alt="" class="w-[250px] h-[250px] mx-auto object-contain">
            </figure>
        </div>
    </div>
</main>