<nav class="w-full">
  <ul class="container flex justify-between items-center p-5 ">
    <li *ngIf="!registered;else reg_logo">
      <img src="assets/icons/logo-black.svg" alt="engenitics black logo" />
    </li>
    <li><a routerLink="/home" class="font-display capitalize">home</a></li>
    <li><a routerLink="/offered-courses" class="font-display">courses offered</a></li>
    <li><a routerLink="/grammar" class="font-display">grammar help</a></li>
    <li><a routerLink="/Q&A" class="font-display">Q & A</a></li>
    <li><a routerLink="/listening" class="font-display">listening</a></li>
    <li *ngIf="!registered;else user_info">
      <span  class="flex justify-between items-center">
        <div class="me-6"><a routerLink="login" class="engenitic-button">log in</a></div>
        <div class="ms-6"><a routerLink="register" class="engenitic-button">register</a></div>
      </span>
    </li>
  </ul>
  <ng-template #user_info>
    <span class="flex justify-between items-center">
      <a routerLink="/profile/student" class="me-6 flex justify-between items-center"><img src="assets/images/profile-pic.jpg" alt="" class="w-[43px] h-[40px] object-cover rounded-full"> <p class="ms-4 font-display"> {{ userName }} </p></a>
      <div class="ms-6"><a (click)="handleLogout()" class="engenitic-button danger-button cursor-pointer">log out</a></div>
    </span>
  </ng-template>
  <ng-template #reg_logo>
    <img src="assets/icons/logo-gradient 1.svg" alt="engenitics gradient logo" />
  </ng-template>
</nav>
