<main
  class="grid grid-cols-1 lg:grid-cols-2 gap-10 items-center lg:items-start w-full container pt-7"
>
  <form
    class="flex justify-between items-start flex-col h-full"
    [formGroup]="registerForm"
    (ngSubmit)="handleNewPassword()"
  >
    <!-- password and repassword  -->
    <input
      #password
      type="password"
      class="engenitic-input my-3"
      placeholder="  Password ..."
      formControlName="password"
    />
    <div
      *ngIf="
        registerForm.get('password')?.errors &&
        (registerForm.get('password')?.touched || password.value.length > 0)
      "
    >
      <p
        class="text-normal font-regular text-red-500"
        *ngIf="registerForm.get('password')?.getError('required')"
      >
        password field is required
      </p>
      <p
        class="text-normal font-regular text-red-500"
        *ngIf="registerForm.get('password')?.getError('minlength')"
      >
        password field must be more than 5
      </p>
    </div>
    <input
      #repassword
      type="password"
      class="engenitic-input my-3"
      placeholder=" Confirm Password ..."
      formControlName="repassword"
    />
    <div
      *ngIf="
        registerForm.get('repassword')?.errors &&
        (registerForm.get('repassword')?.touched || repassword.value.length > 0)
      "
    >
      <p
        class="text-normal font-regular text-red-500"
        *ngIf="registerForm.get('repassword')?.getError('passwordMiss')"
      >
        passwords don't match !
      </p>
    </div>
  </form>
</main>
