<main>
    <section class="grid grid-cols-2 gap-20 pt-10">
        <h1 class="font-display text-header">english attached to your blood</h1>
        <div class="grid grid-rows-2 gap-10">
            <p class="font-regular h-10 text-normal">Welcome to our innovative English learning platform, designed to enhance your language skills through interactive tools and engaging content. Whether you're a beginner or looking to refine your proficiency, we have the resources you need to succeed.</p>
            <div><a routerLink="courses" class="engenitic-button w-fit">view courses</a> <span class="ps-10"><i class="fa-solid fa-arrow-right-long fa-beat text-xl"></i></span></div>
        </div>
    </section>

    <section class="flex justify-center items-center py-12">
        <img src="./assets/images/home-second-section.svg" alt="" class="w-full">
    </section>

    <section class="flex justify-between items-start pt-5">
        <article class="grid grid-rows-2 gap-40 w-1/3">
            <h2 class="font-display text-header">Unlock Your English Potential with Our Interactive Learning Features</h2>
            <p class="font-regular text-normal h-10">Experience a new way to learn English through engaging interactive lessons that adapt to your needs. Our platform offers real-time grammar correction and advanced speech recognition to enhance your learning journey.</p>
        </article>
        <figure>
            <img src="../../../assets/images/home-third-section.svg" alt="" class="w-full">
        </figure>
    </section>

    <section class="py-20">
        <div>
            <h2 class="font-display text-header w-1/3">Unlock Your English Learning Potential Today</h2>
            <h3 class="font-display text-secondary-header py-20 w-1/2">Enhance your English skills with our tailored approach. Our platform is designed to cater to your individual learning style and pace.</h3>
        </div>


        <div class="grid grid-cols-3 gap-52 items-center">
            <div class="flex justify-between items-start flex-col">
                <i class="fa-solid fa-pencil text-4xl"></i>
                <h4 class="text-secondary-header font-display py-5">
                    Flexible Learning That Fits Your Schedule
                </h4>
                <p class="font-regular text-normal">
                    Study whenever and wherever you want.
                </p>
            </div>
            <div>
                <i class="fa-solid fa-face-smile-beam text-4xl"></i>
                <h4 class="text-secondary-header font-display py-5">
                    Expert Tutors Ready to Assist You
                </h4>
                <p class="font-regular text-normal">
                    Get guidance from experienced professionals in the field.
                </p>
            </div>
            <div>
                <i class="fa-solid fa-star-half-stroke text-4xl"></i>
                <h4 class="text-secondary-header font-display py-5">
                    Achieve Your Goals with Personalized Support
                </h4>
                <p class="font-regular text-normal">
                    Our resources are tailored to help you succeed.
                </p>
            </div>
        </div>
    </section>

    <section class="py-20 flex justify-between items-start">
        <figure>
            <img src="./assets/images/home-last-section.svg" alt="" class="w-full">
        </figure>
        <article class="w-1/3">
            <h2 class="text-header font-display py-7">Unlock Your English Potential with Our Interactive Learning Features</h2>
            <p class="text-normal font-regular pt-14">Experience a new way to learn English through engaging interactive lessons that adapt to your needs. Our platform offers real-time grammar correction and advanced speech recognition to enhance your learning journey.</p>
        </article>
    </section>
</main>