<main class="grid grid-cols-2 items-center gap-10">
    <figure>
        <img src="./assets/images/login-pic.svg" alt="" class="">
    </figure>
    <form class="grid grid-rows-3 gap-10 items-center" [formGroup]="loginForm" (ngSubmit)=" handleLogin() " >
        <input #email type="email" class="engenitic-input" placeholder="  Email ..." formControlName="email">
        <div *ngIf="loginForm.get('email')?.errors && (loginForm.get('email')?.touched || email.value.length > 0)">
            <p class="text-normal font-regular text-red-500" *ngIf="loginForm.get('email')?.getError('required')">the email entity is required</p>
            <p class="text-normal font-regular text-red-500" *ngIf="loginForm.get('email')?.getError('email')">email is not valid</p>
        </div>
        <input type="password" class="engenitic-input" placeholder="  Password ..." formControlName="password">
        <div *ngIf="loginForm.get('password')?.errors && (loginForm.get('password')?.touched || email.value.length > 0)">
            <p class="text-normal font-regular text-red-500" *ngIf="loginForm.get('password')?.getError('required')">the password entity is required</p>
            <p class="text-normal font-regular text-red-500" *ngIf="loginForm.get('password')?.getError('minlength')">password must be more than 5 characters</p>
        </div>
        <button [disabled]="buttonDisabled"   [ngClass]="{
            'engenitic-button-disabled text-white hover:text-white hover:border-black': buttonDisabled, 
            'hover:engenitic-blue': !buttonDisabled
        }"
        type="submit" class="engenitic-button w-fit mx-auto">submit</button>
    </form>
</main>
