<main class="grid lg:grid-cols-2 items-center py-10 gap-10 container">
  <figure class="flex justify-center lg:justify-start">
    <img
      src="./assets/images/login-main-pic.jpeg"
      alt=""
      class="w-[450px] h-[400px]"
    />
  </figure>
  <form
    class="grid grid-rows-1 gap-6 items-center"
    [formGroup]="loginForm"
    (ngSubmit)="handleLogin()"
  >
    <input
      #email
      type="email"
      class="engenitic-input"
      placeholder="  Email ..."
      formControlName="email"
    />
    <div
      *ngIf="
        loginForm.get('email')?.errors &&
        (loginForm.get('email')?.touched || email.value.length > 0)
      "
    >
      <p
        class="text-normal font-regular text-red-500"
        *ngIf="loginForm.get('email')?.getError('required')"
      >
        the email entity is required
      </p>
      <p
        class="text-normal font-regular text-red-500"
        *ngIf="loginForm.get('email')?.getError('email')"
      >
        email is not valid
      </p>
    </div>
    <input
      type="password"
      class="engenitic-input"
      placeholder="  Password ..."
      formControlName="password"
    />
    <div
      *ngIf="
        loginForm.get('password')?.errors &&
        (loginForm.get('password')?.touched || email.value.length > 0)
      "
    >
      <p
        class="text-normal font-regular text-red-500"
        *ngIf="loginForm.get('password')?.getError('required')"
      >
        the password entity is required
      </p>
      <p
        class="text-normal font-regular text-red-500"
        *ngIf="loginForm.get('password')?.getError('minlength')"
      >
        password must be more than 6 characters
      </p>
    </div>
    <div class="flex justify-between">
      <div>
        <input
          type="checkbox"
          id="remember-me"
          class="w-fit me-5 shadow-none hover:shadow-none"
          [checked]="loginForm.get('rememberMe')?.value"
          (change)="handleRememberMe($event)"
        />
        <label for="remember-me" class="font-display">remember me</label>
      </div>
      <div>
        <a
          routerLink="/forget-password"
          class="font-display hover:text-[#58B6B8] transition-colors duration-300"
          >forget password</a
        >
      </div>
    </div>
    <div class="flex justify-center gap-8 items-center">
      <button
        [disabled]="buttonDisabled"
        type="submit"
        class="engenitic-button w-fit hover:enginitic-main-color hover:text-white"
      >
        submit
      </button>
      <button
        title="login using gmail"
        (click)="googleLogin()"
        type="button"
        class="engenitic-button w-fit hover:enginitic-main-color hover:text-white"
      >
        <i class="fa-brands fa-google px-2 py-1"></i>
      </button>
    </div>
  </form>
</main>
