<main class="container py-10">
  <form
    class="grid grid-rows-1 gap-6 items-center"
    [formGroup]="ForgetPassForm"
    (ngSubmit)="handleForgetPass()"
  >
    <input
      #email
      type="email"
      class="engenitic-input"
      placeholder="  Email ..."
      formControlName="email"
    />
    <div
      *ngIf="
        ForgetPassForm.get('email')?.errors &&
        (ForgetPassForm.get('email')?.touched || email.value.length > 0)
      "
    >
      <p
        class="text-normal font-regular text-red-500"
        *ngIf="ForgetPassForm.get('email')?.getError('required')"
      >
        the email entity is required
      </p>
      <p
        class="text-normal font-regular text-red-500"
        *ngIf="ForgetPassForm.get('email')?.getError('email')"
      >
        email is not valid
      </p>
    </div>
    <div class="flex justify-center gap-8 items-center">
      <button
        [disabled]="buttonDisabled"
        type="submit"
        class="engenitic-button w-fit hover:enginitic-main-color hover:text-white"
      >
        submit
      </button>
    </div>
  </form>
</main>
