/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'ngx-toastr/toastr';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Farsan&display=swap');

@layer utilities {
    .engenitic-button {
        @apply px-6 py-2 border-2 shadow-xl border-black rounded-3xl font-display uppercase  text-center;
    }
    .engenitic-input {
        @apply w-full border-[1.5px] border-black rounded py-2 font-display px-2
    }

    .engenitic-button-disabled {
        @apply border-[#8E8E8E];
    }

    .danger-button {
        background-color: rgb(236, 34, 31) ;
        color: white;
    }
    .success-button {
        background-color: RGB(20, 174, 92) ;
        color: white;
    }
}

.custom-file-input {
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    color: #555;
}
.custom-file-input::-webkit-file-upload-button {
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 8px 12px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}

body {
    text-transform: capitalize !important;
    background-color: FFFFFF;
    overflow-x: hidden;
}


