/* You can add global styles to this file, and also import other style files */
@use 'ngx-toastr/toastr';
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Farsan&display=swap');

@layer utilities {
    .engenitic-button {
        @apply px-6 py-2 border-2 shadow-xl border-black rounded-3xl font-display uppercase text-center transition-all duration-500 hover:text-white  hover:border-white ;
    }
    .engenitic-input {
        @apply w-full border-[1.5px] border-black rounded py-2 font-display px-2
    }
    .gradient {
        @apply bg-gradient-to-r from-[#0FB5E8] via-[#670A78] to-[#0B0129]
    }
    .engenitic-button-disabled {
        @apply bg-[#8E8E8E];
    }
    .engenitic-danger {
        @apply bg-[#EC221F] ;
    }
    .engenitic-success {
        @apply bg-[#14AE5C] ;
    }
    .engenitic-purple {
        @apply bg-[#670A78];
    }
    .engenitic-blue {
        @apply bg-[#0FB5E8];
    }
}

body {
    text-transform: capitalize !important;
    background-color: FFFFFF;
    overflow-x: hidden;
}

.custom-file-input {
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    color: #555;
}
.custom-file-input::-webkit-file-upload-button {
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 8px 12px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.course{
    overflow: hidden;
    &:hover{
        .course-button{
            transform: translateY(0);
            transition: all 1s;
        }
    }
}

.ngx-pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    li {
        margin: 0 5px;
    a {
        text-decoration: none;
        color: #007bff;
        }
    &.current {
        background: #007bff;
        color: white;
        }
    }
}

