<main class="py-10">

    <div class="flex justify-center items-center">
        <a (click)="leftArrow()"  routerLink="/offered-courses/1"><i class="fa-solid fa-arrow-left-long text-lg"></i></a>
        <ul class="font-display text-header flex px-6">
            <li *ngFor="let link of links; index as idx">
                <a (click)="handleLinks(links[idx], idx)" [routerLink]="['/offered-courses',link]" routerLinkActive="text-[#0FB5E8]">{{ link }}</a>
                <span *ngIf="idx !== links.length-1">,</span>
            </li>
        </ul>
        <a (click)="rightArrow()"  [routerLink]="['/offered-courses',totalNumCourses]"><i class="fa-solid fa-arrow-right-long text-lg"></i></a>
    </div>

    <div class="py-10 flex justify-between items-center flex-wrap gap-x-10 gap-y-16">
        <div *ngFor="let course of courses;index as idx" class="grid grid-cols-2 gap-10 items-center border border-black rounded-lg p-5 shadow-xl course">
            <div class="grid grid-rows-4 gap-10">
                <h3 class="font-display text-secondary-header">
                    {{ course.title }}
                </h3>
                <p class="text-normal font-regular">
                    {{ course.description }}
                </p>
                <p class="text-normal font-regular">
                    made by : {{ course.instructorName }}
                </p>
                <a [routerLink]="['/course', course.id]" class="engenitic-button text-center translate-y-20 course-button relative group inline-block hover:engenitic-purple">
                    <span class="transition-opacity duration-300 opacity-100 group-hover:opacity-0">
                        view details
                    </span>
                    <span class="absolute inset-0 top-2 transition-opacity duration-300 opacity-0 group-hover:opacity-100">
                        <i class="fa-solid fa-arrow-pointer"></i>
                    </span>
                </a>
            </div>
            <figure class="w-[300px] h-[300px] flex justify-center items-center">
                <img [src]="course.image.imageURL" [alt]="course.image.name" class="mx-auto object-contain rounded-xl">
            </figure>
        </div>
    </div>
</main>