<main class="py-10">
    <div>
        <ul>
            <li *ngFor="let course of courses | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalPages }">
            </li>
        </ul>
        <pagination-controls 
            (pageChange)="onPageChange($event)" 
            previousLabel="Previous"
            nextLabel="Next"
            [responsive]="true">
        </pagination-controls>
    </div>
    <div class="py-10 flex justify-between items-center flex-wrap gap-x-10 gap-y-16">
        <div *ngFor="let course of courses;index as idx" class="grid grid-cols-2 gap-10 items-center border border-black rounded-lg p-5 shadow-xl course">
            <div class="grid grid-rows-4 gap-10">
                <h3 class="font-display text-secondary-header">
                    {{ course.title }}
                </h3>
                <p class="text-normal font-regular">
                    {{ course.description }}
                </p>
                <p class="text-normal font-regular">
                    made by : {{ course.instructorName }}
                </p>
                <a [routerLink]="['/course', course.id]" class="engenitic-button text-center translate-y-20 course-button relative group inline-block hover:engenitic-purple">
                    <span class="transition-opacity duration-300 opacity-100 group-hover:opacity-0">
                        view details
                    </span>
                    <span class="absolute inset-0 top-2 transition-opacity duration-300 opacity-0 group-hover:opacity-100">
                        <i class="fa-solid fa-arrow-pointer"></i>
                    </span>
                </a>
            </div>
            <figure class="w-[300px] h-[300px] flex justify-center items-center">
                <img [src]="course.image.imageURL" [alt]="course.image.name" class="mx-auto object-contain rounded-xl">
            </figure>
        </div>
    </div>
</main>