<main>
    <figure>
        <img src="./assets/images/courses-pic.svg" alt="courses page picture" class="w-full h-[300px] object-cover">
    </figure>


    <form action="" class="grid grid-cols-9 gap-10 my-10 ">
        <input type="search" class="engenitic-input col-span-8" placeholder="  Search For a Course ...."> 
        <button type="submit" class="engenitic-button h-fit w-fit " >Search ...</button>
    </form>
    

    <div class="flex justify-center items-center">
        <a (click)="leftArrow()" routerLink="/courses/1"><i class="fa-solid fa-arrow-left-long text-lg"></i></a>
        <ul class="font-display text-header flex px-6">
            <li *ngFor="let link of links; index as idx">
                <a (click)="handleLinks(idx)" [routerLink]="['/courses',link]" routerLinkActive="text-red-500">{{ link }}</a>
                <span *ngIf="idx !== links.length-1">,</span>
            </li>
        </ul>
        <a (click)="rightArrow()" [routerLink]="['/courses',totalNumCourses]"><i class="fa-solid fa-arrow-right-long text-lg"></i></a>
    </div>

    <router-outlet>
        
    </router-outlet>
</main>